@import url(reset.css);


*{
    background-color:rgb(88, 41, 0);
}
#topnav {
    width: 100%;
    top: 0;
    left: 0;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align:right;
    word-spacing:11cm;

 }
 .nav-link{
    font-family:fantasy;
    color: yellow;
 }
 .usr {
    font-family:fantasy;
    color: black;
 }
hr {
   border-color: black;
   text-align: center;
}
#image{
   text-align:right;
   word-spacing:11cm;
}
.prix {
   color: yellow;
  
}


.card {
  border: none;
  display: flex;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

/* flip cards */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border: none;
  border-radius: 8px;
}

.flip-card-back-name {
  color: #fff;
  text-align: center;
  font-size: 40px;
  padding-bottom: 5%;
}
.flip-card-back-member {
  color: #fff;
  font-size: 15px;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  border-radius: 8px;
}

.img {
  width:300px;
  height:300px;
  border-radius: 8px;
}



/*------------------*
 * Global variables *
 *------------------*/
/*------------*
 * CSS Styles *
 *------------*/
 *,
 *:before,
 *:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 
 
 body::-webkit-scrollbar {
   display: none;
 }
 
 a {
   color: inherit;
   text-decoration: none;
 }
 a:hover {
   text-decoration: underline;
 }

 .hidden{
  display: none;
 }